*{
    margin: 0;
    padding: 0;
}

.body{
    transition:all 1s ease-in-out;
}

.button{
    flex-wrap:wrap;
    /* flex-direction: ; */
    background-color: red;
    color:aqua;
    border-radius: 9rem;
    cursor: pointer;
}

.outterdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer{
    background-color: rgb(104, 71, 22);
    height: 20rem;
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 2s ease-in-out;
    border: 2px;
    /* border-color: black; */
    border-radius: 21rem;
}